/* CSS for Windows Server with Minion Catalog Item */

/* Header */
#text_e23d0e11 label{ color: #0a0a0a; font-weight: bold; font-size: 14px;}

/* Notes Header */
#text_d626d471 label{ color: #ff0000; font-weight: bold; font-size: 12px;}

/* Notes Items */
#text_10359ab4 label{ color: #0a0a0a; font-size: 11px;}
